<div>
  <div class="pure-g">
    <% @items.each do |item| %>
      <div class="pure-u-md-1-4 box"><%= item.name %></div>
      <!-- well this isn't right, making it 1/4 when I want 1/3 but 1/3 goes over to the next line -->
      <!-- and how do I make it so that when I make more products, they loop onto the next line? -->
    <%end%>
  </div>
</div>
