<h1>Browse Spree Themes</h1>
<div>
  <% @presenter.items.each do |item| %>
    <div class="pure-u-md-1-4">
      <div class="box">
        <div><%= item.name %></div>
        <div><img src= <%= item.image_preview %> ></div>
      </div>
    </div>
  <% end %>
</div>