<div>
  <% @items.each do |item| %>
    <div class="pure-u-md-1-4">
      <div class="box">
        <div><%= item.name %></div>
        <div><img src=<%= @image%> class="image"></div>
      </div>
    </div>
  <% end %>
</div>