$accent: #ffcc33;
 
.pure-menu li a:hover, pure-menu li a:focus {
  background: none !important ;
}

#menu {
  background-color: $accent;
}

.menu-text {
  margin-left:50px;
  text-decoration-color: $accent;
  font-size: large;
  padding-top: 5px;
  margin: 0px;
  a {
    color: white;
  }
}

a {
  color: $accent;
  text-decoration: none;
  font-weight: bold
}

.header {
  padding-left: 60px
}

#menu  {  
  ul {
  margin-left: 90px;
}
  li a {
  color: white;
  text-decoration: none;
  }
}

.container {
  margin: 50px;
}

.subcontainer {
  padding-left: 100px;
}

.box {
  padding: 10px;
  margin: 10px;
  height: 250px;
  text-decoration: none;
  font-size: large;
  a {
   color: $accent;
   text-decoration: none;
  }

  .item-name {
    color: $accent;
    text-decoration: none;
  }
}

h2 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px; 
  color: black;
}

a:link, a:visited, a:hover, a:active {
text-decoration: none;
}

.rhs-link {
  float: right;
  margin-right: 200px;
}

.button {
  background-color: $accent;
  border-color: $accent;
  color: white;
  font-variant: bold;
  padding: 8px;
}

.delete-button {
  background-color: red;
  border-color: red;
  color: white;
  font-variant: bold;
  padding: 8px;
  display: inline-block;
  float:right;
}

.form-button {
  background-color: black;
  border-color: black;
  color: white;
  font-variant: bold;
  padding: 5px;
}

.form {
  background-color: $accent ;
  width: 300px;
  padding: 20px;
}

.show-image {
  height: 500px;
  width: 500px;
}

.item-image, a img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.item-name {
  text-decoration: none;
  font-size: large;
  text-align: center;
  font-family: verdana;
  font-weight: bold;  
}

.item-price {
  text-align: center;
}

.item-date {
  font-size: small;
  text-align: center
}

.alert {
  color:red;
}